In [55]:
import numpy as np
import pandas as pd


'''
Lookback is defined in seconds
Cutoffs are defined as 
Each second is ~ 30 rows in the CSV that we read (but is not)

WINDOW_SIZE = determines how much to be averaging the data that we have
DELTA_ANGLE: delta = (end- start) % 360
DIRECTION: minimum of either CW or CCW 

'''
class LabelDF(object):
    def __init__(self, input_data, lookback=90, lookforward=120, window_size=10, cutoffs_hard=[70, 100], cutoffs_slight=None):
        self.df = pd.read_csv(input_data)
        self.lookback = lookback
        self.window_size = window_size
        self.lookforward = lookforward
        
        self.hard_left_cutoffs = [(360-cutoffs_hard[1]), (360-cutoffs_hard[0])]
        self.hard_right_cutoffs = cutoffs_hard

        
    def check_direction(self, angle):
        print(self.hard_right_cutoffs)
        print(self.hard_left_cutoffs)
        if angle < self.hard_right_cutoffs[1] and angle > self.hard_right_cutoffs[0]:
            return 1
        elif angle < self.hard_left_cutoffs[1] and angle > self.hard_left_cutoffs[0]:
            return -1
        
        return 0
        
        
    '''
    INPUT: List of fields to process
    OUTPUT: Processed DataFrame with Direction for hard turns and also slight turns
    '''
    def add_direction(self, fields="Heading (degrees)"):
        sub_df = self.df[fields]
        averaged_vals = sub_df.rolling(self.window_size, closed="left", center=False).mean()
        
        # shift the values forward and backwards to create the lookback period
        backwards_vals = averaged_vals.shift(periods=self.lookback)
        forwards_vals = averaged_vals.shift(-1 * self.lookforward)
        
        # calculate the change in angle
        heading_delta = (forwards_vals - backwards_vals) % 360
        
        # convert to a hard right or left turn
        
        # TODO: Vectorize this quick
        x = heading_delta.iloc[0:2].apply(lambda angle: self.check_direction(angle))
        print(sum(x==1))
        print(sum(x==-1))
        
        #return self.df

In [56]:
x = LabelDF("../data/TCSSimpleWalk/shortWalkTwoTurns.csv", 150)
#display(x.df.columns)

In [57]:
x.add_direction()

[70, 100]
[260, 290]
[70, 100]
[260, 290]
0
0

In [8]:
test = pd.read_csv("../data/TCSSimpleWalk/shortWalkTwoTurns.csv")

In [9]:
display(test.head(5))

,Timestamp (ms),Triggering Sensor,Latitude,Longitude,Altitude,Heading (degrees),Heading accuracy (degrees),Relative Altitude (m),Pressure (kPa),Speed (m/s),...,Rotation Rate - Y axis,Rotation Rate - Z axis,Activity Type,Number of Steps,Distance,Floors Ascended,Floors Descended,Current Pace,Current Cadence,Average Active Pace
0,10,Gyrometer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31,GPS,40.44461,-79.947035,284.186073,NaN,NaN,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,52,GPS,40.44461,-79.947035,284.186073,NaN,NaN,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,81,COMPASS,40.44461,-79.947035,284.186073,223.304199,13.588082,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,103,Magnetometer,40.44461,-79.947035,284.186073,223.304199,13.588082,NaN,NaN,-1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
print(test["Heading (degrees)"].min())

130.91246032714844

In [11]:
print(test["Heading (degrees)"].max())

227.97885131835938

In [83]:
-358 %360

2

In [84]:
-270 % 360

90

In [12]:
df = pd.DataFrame({'B': [0, 1, 2, 3, 4, 5, 6]})
display(df)

   B
0  0
1  1
2  2
3  3
4  4
5  5
6  6

In [16]:
df.shift(periods=-2)

     B
0  2.0
1  3.0
2  4.0
3  5.0
4  6.0
5  NaN
6  NaN